.aboutus section {
  display: flex;
  flex-direction: column;
  height: 85%;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
  text-align: center;
  padding: 1rem;
  color: black;
}

.aboutus div {
  height: calc(100vh - 40vh);
  background-image: url("../../public/aboutus.jpeg");
  background-size: fit;
  background-position: center;
}

.aboutus p {
  font-size: medium;
}
